footer{
	
	margin: 0;
    padding:15px;
	background-color: #180505;
	

    .div-footer{
        align-items: center;
        display: flex;
        flex-direction: column;
        padding-bottom: 15px;
    }
    .logo-footer{
        height: 120px;
        object-fit: cover;
        margin: 0;
        padding: 5px;
    }
	
}


