*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Open ;
}

body {
	font-family: 'Montserrat', sans-serif;
	background-color: #180505;
}

main {
	display: flex;
	flex-direction: row;
}
p{
	text-align: center;
	font-weight: bold;
  }