video{
	object-fit: cover;
	width: 1300px;
	height: 450px;
	overflow: hidden;
	opacity: .65;
  }
  .hp-hero__img-wrapper video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: .65;
    min-width: 700px;
	
  }

  .hp-hero {
    width: 100vw;
    height: 18.75rem;
    background-color: #000;
    position: relative;
}

.hp-hero__img-wrapper{
	overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
	margin-top: 20px;
}

.fa-user:before {
    content: "\f007";
    margin-right: 5px;
}
.articles{
	margin-top: 400px;
	justify-content: space-around;
	background: url(https://img.freepik.com/free-photo/cardboard-sheet-paper-abstract-texture-background_7182-2105.jpg?size=626&ext=jpg);
	position: relative;
	padding-bottom: 30px;
	border-radius: 6px;
	box-shadow: 0px 0px 4px gray;
	display: flex;
  flex-direction: column;
	
}

.article2{
	display: block;
}
.gazette{
	margin-left: 250px;
	margin-top: 30px;
	height: 150px;
}
:root {
	--color1: rgb(20, 24, 22);
	--color2: rgb(66, 5, 3);
	--back: }
.book{
	height: 300px;
	position: relative;
	overflow: hidden;
	margin: 20px;
	overflow: hidden;
	z-index: 10;
	touch-action: none;
	
	border-radius: 5% / 3.5%;
	box-shadow: 
	  -5px -5px 5px -5px var(--color1), 
	  5px 5px 5px -5px var(--color2), 
	  -7px -7px 10px -5px transparent, 
	  7px 7px 10px -5px transparent, 
	  0 0 5px 0px rgba(255,255,255,0),
	  0 55px 35px -20px rgba(0, 0, 0, 0.5);
	

	
	
}
.book:hover {
	box-shadow: 
	  -20px -20px 30px -25px var(--color1), 
	  20px 20px 30px -25px var(--color2), 
	  -7px -7px 10px -5px var(--color1), 
	  7px 7px 10px -5px var(--color2), 
	  0 0 13px 4px rgba(255,255,255,0.3),
	  0 55px 35px -20px rgba(0, 0, 0, 0.5);
  }

.test{
	height: 300px;
	margin-right: 80px;
	
	
}


.article-block{
	
	justify-content: space-around;
	margin-top: 70px;
	margin-bottom: 50px;
	
	
}

.article{
	border: #FFF;
	margin-top: 20px;
	margin: 10px;
	display: flex;
	

	.article-bis{
		border: 3px solid black;
		width: 600px;
		height: 570px;
	}
	.article-daily{
		margin-left: 20px;
	}

	.article3{
		margin-left: 40px;
	}
	
	
	
	img{
		margin:5px;
	}
}
h1{
	margin-top: 50px;
	margin-left: 1050px;
  }

h4{
	color: antiquewhite;
}

p{
	text-align: center;
	font-weight: bold;
	white-space: pre-line;
  }


	
  



